.gradle
.keystore
target
.vagrant
*.iml
*.ipr
*.iws
**/out
.settings
.project
.classpath
nb-configuration.xml
nbactions.xml
*.NavData
build/
**/.idea/**
**/exploded/**
**/node_modules/**
**/bower_components/**
rebel.xml
rebel-remote.xml
**/.DS_Store
*.log
atlassian-ide-plugin.xml
.idea/**/*
**/*.suo

TempCsvStorage.csv
*.ids
.sonar_lock
.sonarlint

.shelf
classes

.pid.lock

